body{
<<<<<<< HEAD
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.pricipal{
    background-image: url(fondo.jpg);
    background-repeat: round;
    color: white;
    height: 600px;
    width: auto;
    margin: auto;
=======
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
>>>>>>> f9c00f16e60b5608b2c31525695098e77c931d7f
}
.menu-informacion{
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    
=======


>>>>>>> f9c00f16e60b5608b2c31525695098e77c931d7f
}
.menu-expancion:hover .menu-informacion{

    display: block;
    border: 10% solid rgb(87, 14, 14);
}
.sobre_mi{
    background-image: url(fondo.jpg);
    background-repeat: round;
    color: white;
    height: 600px;
    width: auto;
    margin: auto;
}