body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}

.menu-informacion{
    display: none;
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0;


}
.menu-expancion:hover .menu-informacion{

    display: block;
}